{% load static %}
{% load compress %}
{% compress css %}
<link type="text/x-scss" href="{% static 'flashcards/style.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <script type="module" src="{% static 'flashcards/scripts/ui-categories.js' %}"></script>
    <link rel="stylesheet" href="{% static 'flashcards/style.css' %}"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>

<!--<div class="sidebar">-->
<!--    <button class="sidebar-btn">Categories</button>-->
<!--    <button class="sidebar-btn">Button 2</button>-->
<!--    <button class="sidebar-btn">Button 3</button>-->
<!--    <button class="sidebar-btn">Back</button>-->
<!--</div>-->

<div class="card-window" id="card-window">
    <div class="card-window__wrap">
        <a href="#" class="card-window__close icon" id="close"><i
                class="fas fa-window-close card-window__close"></i></a>
        <h2 class="center">Create new category</h2>
        <div class="error-message">Please, fill all the fields!</div>
        <form id="card-form" class="card-form">
            <div class="card-form__group">
                <label for="category-name">Category name:</label>
                <textarea name="answer" id="category-name" cols="30" rows="10"
                          placeholder="Type your category name..."></textarea>
            </div>
            <button type="submit" class="btn btn--green" id="save-category">Submit</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="card__intro center">
        <h1>Flashcards</h1>
        <h2>Category: {{ category }}</h2>
        <br />
            <ul>
                {% for set in sets %}
                    <li><a href="/flashcards/{{ set }}/">{{ set }}</a></li>
                {% endfor %}
            </ul>

            <button id="show-btn-category" class="btn btn--blue btn--large">Create new category</button>
        <br />
    </div>

</div>

<script src="{% static 'flashcards/scripts/data.js' %}"></script>
</body>
</html>
