{% extends 'core/base.html' %}
{% load static %}
{% load compress %}

{% compress css %}
    <link type="text/x-scss" href="{% static 'flashcards/style.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

{% block head %}
    <title>Flashcards</title>

    <script type="module" src="{% static 'flashcards/scripts/ui-categories.js' %}"></script>
    <script src="{% static 'flashcards/scripts/data.js' %}"></script>

    <link rel="stylesheet" href="{% static 'flashcards/style.css' %}"/>

{% endblock %}



{% block content %}
<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="content-section">
        <div class="card-window" id="card-window">
            <div class="card-window__wrap">
                <a href="#" class="card-window__close icon" id="close"><i
                        class="fas fa-window-close card-window__close"></i></a>
                <h2 class="center">Create new category</h2>
                <div class="error-message">Please, fill all the fields!</div>
                <form id="card-form" class="card-form">
                    <div class="card-form__group">
                        <label for="category-name">Category name:</label>
                        <textarea name="answer" id="category-name" cols="30" rows="10"
                                  placeholder="Type your category name..."></textarea>
                    </div>
                    <button type="submit" class="btn btn--green" id="save-category">Submit</button>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="card__intro center">
                <h1>Flashcards</h1>
                <h2>Category: {{ category }}</h2>
                <br />
                    <ul>
                        {% for set in sets %}
                            <li><a href="/flashcards/{{ set }}/">{{ set }}</a></li>
                        {% endfor %}
                    </ul>

                    <button id="show-btn-category" class="btn btn--blue btn--large">Create new category</button>
                <br />
            </div>
        </div>
    </div>
</main>
{% endblock %}
