{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Tooplate">

    <title>Wordlight</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'core/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'core/css/apexcharts.css' %}" rel="stylesheet">

    <link href="{% static 'core/css/tooplate-mini-finance.css' %}" rel="stylesheet">

    <script src="{% static 'core/js/jquery.min.js' %}"></script>

    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'core/js/apexcharts.min.js' %}"></script>
    <!--

    Tooplate 2135 Mini Finance

    https://www.tooplate.com/view/2135-mini-finance

    Bootstrap 5 Dashboard Admin Template

    -->
    {% block head %}
    {% endblock %}
</head>
<body>

<header class="navbar sticky-top flex-md-nowrap">
    <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi-box"></i>
            Wordlight
        </a>
    </div>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav me-lg-2">
        <div class="nav-item text-nowrap d-flex align-items-center">

            <div class="dropdown px-3">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <img src="{{ user.profile.image.url }}"
                         class="profile-image img-fluid"
                         alt="">
                </a>
                <ul class="dropdown-menu bg-white shadow">
                    <li>
                        <div class="dropdown-menu-profile-thumb d-flex">
                            <img src="{{ user.profile.image.url }}"
                                 class="profile-image img-fluid me-3" alt="">


                            <div class="d-flex flex-column">
                                <small>{{ user.first_name }}</small>
                                <a href="#">{{ user.email }}</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a class="dropdown-item" href="{% url 'profile' %}">
                            <i class="bi-person me-2"></i>
                            Profile
                        </a>
                    </li>

                    <li class="border-top mt-3 pt-2 mx-4">


                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-info" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
            <div class="position-sticky py-4 px-3 sidebar-sticky">
                <ul class="nav flex-column h-100">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">
                            <i class="bi-house-fill me-2"></i>
                            Overview
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'flashcards' %}">
                            <i class="bi-card-checklist me-2"></i>
                            Flashcards
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <i class="bi-person me-2"></i>
                            Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'flashcards_statistics' %}">
                            <i class="bi-person me-2"></i>
                            Statistics
                        </a>
                    </li>

                    <li class="nav-item border-top mt-auto pt-2">

                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-info" type="submit">Logout</button>
                        </form>

                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>
